* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45.1rem;
  background-color: #E09F3E - 335C67;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 750px;
  border: solid white 8px;
  border-radius: 0.8rem;
}

.button {
  width: 240px;
  height: 45px;
  margin-top: 10px;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  background-color: #f5f4f4;
  border: none;
  font-size: 19px;
}

.quote {
  font-size: 35px;
  font-family: 'Courier New', Courier, monospace;
  color: blue;
  font-weight: bold;
  margin: 10px;
}

.author {
  font-size: 18px;
  color: white;
  font-family: 'Century';
  font-weight: bold;
  margin: 13px;
  margin-left: 250px;
}
